body{
    font-family: 'PT Sans',sans-serif;
    font-size: medium;
  }
  input, label {
    display: block;
    width: 100%;
    font-weight: bold;
  }

  .multiline{
    overflow-y: scroll;
    color: black;
    padding: 1em;
    border-radius: 10px;
    border: 1px solid silver;
    outline: none;
    font-size: 16px;
  }
  .multiline:focus {
    border: 1px solid silver;
    outline: none;
  }
  .answer, .question{
    height: 50px;
  }
  button{
    background-color: #049bdb;
    color: white;
    border: 0px solid gray;
    border-radius: 10px;
    height: 3em;

  }
  button:hover{
    cursor: pointer;
    background-color: #48afdb;
  }
  